
@import url("960_12_col.css");
*
{
    font-family: arial, times, sans-serif;
    font-size:100%;
    background-color: #faf0ca;
    text-align: center;
    margin: 0px auto;
    width: 90%;
    line-height: 1.5em;
}

li
{
  display:inline;
  padding: 5px;
}

p
{
  padding:5px 0px;
}

.header
{
  height: 90%;
}

p.title
{
  font-style: italic;
  font-size: 110%;
  position:relative;
  top: 40%;
  transform: perspective(1px) translateY(-50%);
  letter-spacing: .8em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

p.titledesc
{
  font-size: 90%;
  position:relative;
  top: 40%;
  transform: perspective(1px) translateY(-50%);
  word-spacing: 1.25em;
}

a
{
    color: #b5c;
    text-decoration: none;
}

a:hover
{
    color: #ffffff;
}

.navigation
{
  height:10%;
}

.chapter
{
  background-color: inherit;
  padding: 10px 0px 50px 0px;
}

p.chaptertitle
{
  color: #33658a;
  font-weight: bold;
}

.chaptertext
{
  text-align: left;
}

.chaptertext p
{
  text-align: left;
  margin-bottom: 1em;
  line-height: 1.5em;

}

.generalquote
{
  margin-left: 40px;
  font-style:italic;
}

.personalquote
{
  margin-left: 70px;
  font-weight: lighter;
  font-style: oblique;
}

.chapter3subtitle
{
  margin: 5px, 10px;
  font-weight: bold;
}

.chapter3subsubtitle
{
  font-style: italic;
  margin: 5px, 5px;
  text-decoration: underline;
}

.poem
{
  background-color: {};
}

.albums
{
  padding-top: 880px;
}

.albums a img
{
  height: 150px;
  width: 150px;
  margin-bottom: 360%;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.albums p
{
  color: #33658a;
  font-weight: bold;
}

.chaptertext img
{
  display: block;
  text-align: center;
  margin: 50px, 50px;
}

.chaptertext ul
{
  text-align: left;
}

.chaptertext li
{
  margin-right: 10%;
  margin-left: 10%;
}

.albums a:hover img {
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  transform: scale(1.7);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#box1 {
  width: 300px;
  top: 40%;
  left: 5%;
  background-color: #33658a;
  opacity: .8;
  position: absolute;
  z-index: 50;
}


#box1:after{
  content: "";
  display: block;
  padding-bottom:100%;
  border-top-left-radius: 100% 200%;
  border-bottom-right-radius: 100% 200%;
}
